@media (max-width: 1150px) {
    .container.series{
        padding: 0 15px;
    }
    .series-mini-cards{
        gap: 15px;
        width: 544px;
    }
    .film-cards{
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    .coll-cards{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .series-cards-content{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .series-mini-cards{
        justify-content: center;
    }
    .series-main-card{
        background-position: right;
    }
}
@media(max-width:650px){
    .footer-content{
        flex-wrap:wrap;
        gap: 10px;
        justify-content: center;
    
    }
    .nav-content__list{
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(106,47,181,1) 0%, rgba(68,29,182,0.8015581232492998) 0%, rgba(25,10,184,0.0032387955182072714) 59%, rgba(19,8,184,0.742734593837535) 100%, rgba(13,5,185,0.6110819327731092) 100%, rgba(17,7,184,1) 100%, rgba(10,4,185,0.7763480392156863) 100%, rgba(16,7,185,1) 100%, rgba(65,43,162,1) 100%, rgba(229,158,91,1) 100%, rgba(252,176,69,1) 100%);
        gap: 60px;
        z-index: 999;
        right: -100%;
        transition: 800ms;
    }
    .nav-content__list-link{
        font-size: 30px;
    }
    .burger{
        color: aliceblue;
        font-size: 40px;
        display: block;
        position: absolute;
        right: 5%;
        z-index: 1000;
    }
    .burger:hover ~ .nav-content__list{
        right: 0;
    }
    .series-second-card{
        background-position: center;
    }
}
@media(max-width:450px) {
    .header-content h1{
        font-size: 40px;
    }
    .header-content div{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 15px;
        
    }
    .btn{
        margin: 0;
    }
    .logo img{
        width: 70%;
    }
    .coll-cards{
       border-radius: 15px;
       background-position: center;
    }
    .coll-card:nth-child(2){
        background-position: center;
    }
    .coll-card:nth-child(3){
        background-position: center;
    }
}